{
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "parser": "typescript",
    "printWidth": 80,
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": true,
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "parser": "postcss"
            }
        },
        {
            "files": "*.(js|jsx)",
            "options": {
                "parser": "babylon"
            }
        },
        {
            "files": "*.json",
            "options": {
                "parser": "json"
            }
        }
    ]
}