<h2>Adicionar Arquivo</h2>

<div *ngIf="errors.length != 0">
    Erros:
    <ul>
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>
</div>

<form [ngFormModel]="addFileForm" #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" 
            ngControl="name" 
            #name="ngForm"
        />
        <div [hidden]="name.valid || (name.pristine && !submited)" class="alert alert-danger">
        	Por favor, informe um nome! Ele deve ter entre 5 e 30 caracteres.
        </div>
    </div>

    <div class="form-group">
            <label for="type">Tipo de arquivo</label>
            <select class="form-control" ngControl="typeId">
                <option [ngValue]="type.id" *ngFor="let type of types">{{type.name}}</option>
            </select>
        </div>

    <div class="form-group">
        <label for="course">Universidade</label>
        <select class="form-control" ngControl="universityId">
            <option [ngValue]="university.value" *ngFor="let university of universities">{{university.label}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="courseId">Disciplina</label>
        <select class="form-control" ngControl="courseId" #courseId="ngForm">
            <option [ngValue]="course.value" *ngFor="let course of courses">{{course.label}}</option>
        </select>
    </div>

    <div *ngIf="courseId.value == 0">
        <div class="form-group">
            <label for="courseName">Nome da discplina</label>
            <input type="text" class="form-control" 
                ngControl="courseName"
                #courseName="ngForm"
            />
        </div>
        <div [hidden]="courseName.valid || (courseName.pristine && !submited)" class="alert alert-danger">
            Por favor, informe um nome para o curso!
        </div>

        <div class="form-group">
            <label for="courseFieldOfStudy">Área de estudo</label>
            <select class="form-control" ngControl="fieldOfStudyId">
                <option [ngValue]="fieldOfStudy.id" *ngFor="let fieldOfStudy of fieldsOfStudy">{{fieldOfStudy.name}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="file">Arquivo</label>
        <input type="file" class="form-control" 
            (change)="fileChangeEvent($event)" 
            placeholder="Upload file..."
        />
    </div>
   <div *ngIf="!addFileForm.controls['files'].valid && (!addFileForm.controls['files'].pristine || submited)" class="alert alert-danger">
        <span *ngIf="addFileForm.controls['files'].errors.invalidNumberOfFiles">
            Por favor, selecione um arquivo pdf.
        </span>
        <span *ngIf="addFileForm.controls['files'].errors.invalidExtension">
            O arquivo selecionado deve estar no formato pdf.
        </span>
    </div>

    <button type="submit" class="btn btn-default" >Submit</button>
</form>

