@import "global";

body {
    margin: 0;
    padding: 0;
	background: $primary;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

:global(.container) {
	width: 90vw;
	margin: 0 auto;
}

.site {
    header.header {
        padding: 20px 0;
		background: $white;

        .headerContent {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                margin: 0;
            }
        }
    }

	main.main {

	}
}
